.dc-bg-dark{
    background-color: rgb(1, 20, 39) !important;
}
.dc-bg-light{
    background-color:rgb(235, 102, 191) !important;
}
.dc-font-dark{
    color: rgb(1, 20, 39) !important;
}
.dc-font-light{
    color: rgb(235, 102, 191) !important;
}